<div class="timeline container text-center">

  <div class="row">

    <div class="title-section">
      <h1>JULIANA VELÁSQUEZ BUITRAGO</h1>
      <p class="fw-bold">Chanteuse, actrice, présentatrice, compositrice, écrivain.</p>
    </div>

    <div class="image-section">
      <img
        src="assets/images/juliana.jpg"
        alt="Juliana Velásquez"
        class="profile-img"
      />
    </div>

    <div class="dates-section">
      <div class="dates">
        <div
          class="date"
          *ngFor="let date of dates; let i = index"
          [style.marginLeft.px]="getMargin(i)"
          [style.--diff-years]="getLineWidth(i)"
          [ngClass]="{ last: i === dates.length - 1 }"
        >
          <button class="btn btn-sm btn-success" (click)="openModal(date)">
            <i class="fa-solid" [ngClass]="date.icon"></i>
          </button>
          <div class="circles"></div>
          <span class="text">{{ date.year }}</span>
        </div>
      </div>
    </div>

  </div>
  
</div>