body {
    font-family: 'Courier New', Courier, monospace;
}

* {
    scrollbar-width: thin;
    scrollbar-color: black white;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: black;
}